[*.cs]
dotnet_diagnostic.DI0002.excluded_namespaces=System,AutoFake.Exceptions
dotnet_diagnostic.DI0002.excluded_files=ContainerExtensions.cs
dotnet_diagnostic.DI0002.exclude_private_types=True
dotnet_diagnostic.DI0002.severity=silent